.projectContainer {
  width: 100%;
  padding: 0 36px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 36px;
}

.ChartContainer {
  padding: 36px;
  display: grid;
  grid-template-rows: 6% 94%;
}

.projectCardContainer {
  padding: 0 36px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px;
  box-sizing: border-box;
}

.projectCardContainer2Columns {
  padding: 0 36px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 48px;
  box-sizing: border-box;
}

.projectCardContainer2EqualColumns {
  padding: 0 36px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
  box-sizing: border-box;
}

.fakeGrid {
  width: 100%;
  padding: 0 36px;
}

.accountButton {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-top: 40px !important;
}

.connectWallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: calc(100vh - 240px);
}

@media screen and (max-width: 1600px) {
  .projectContainer {
    padding: 0 24px;
  }
  .projectCardContainer {
    padding: 0 24px;
    grid-gap: 24px;
  }

  .fakeGrid {
    grid-gap: 24px;
  }
}

@media screen and (max-width: 1400px) {
  .projectCardContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .projectContainer {
    padding: 0 12px;
  }
  .projectCardContainer {
    padding: 0 12px;
    grid-gap: 12px;
  }

  .fakeGrid {
    grid-gap: 12px;
  }
}
